* {
    margin: 0;
}

body {
    height: 200vh;
    width: 200vw;
}

.minhadiv {
    width: 500px;
    height: 500px;
    background-color: black;
    transition: 1s;
}

.minhadiv:hover {
    width: 1500px;
    height: 1500px;
    background-color: red;
}